doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Clock
    link( href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
  body 
    div(class="container")
      h2(class="time" id="time") 
    i(class="bx bx-moon change-theme" id="theme-button")
    script(src="js/script.js") 